* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chatbot {
    background-color: aquamarine;
}

.container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 10px;
}

.submit-btn {
    background-color: red;
    /* display: block; */
}
